<!-- Describe task in general -->

<p>
    在这个任务中，你需要创建一个密码验证功能。
</p>

<p>验证的条件是：</p>

<ul>
    <li>长度应大于6；</li>
    <li>应至少包含一个数字，但不能只包含数字；</li>
    <li>有数字或只包含数字不适用于长度大于9的密码；</li>
    <li>字符串在任何情况下都不应该包含 "密码 "一词。</li>
</ul>



<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>一个字符串{% if is_js %}<span>(string)</span> {% else %} <span>(str)</span> {% endif %} 。
</p>

<p>
   <strong>输出：</strong>一个逻辑值{% if is_js %}<span>(boolean)</span> {% else %} <span>(bool)</span> {% endif %} 。 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p class="for_info_only">
    <strong>它是如何使用的：</strong>
    <i>用于密码验证表。另外，学习如何评估任务也是很好的。</i>
</p>
